.mytask-container {
  display: flex;
  gap: 24px;
}

/* Left Column */
.left-column {
  width: 423px;
  padding: 19px 29px;
  max-height: 837px;
  overflow: hidden;
}

.mytask-section-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 4px;
}

.mytask-heading-underline {
  border-bottom: 2px solid #f24e1e;
  max-width: 31px;
  margin-bottom: 18px;
}

/* Task Card */
.task-card-container {
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 40px;
}

/* Optional: Style scrollbar for better UX */
.task-card-container::-webkit-scrollbar {
  width: 0;
}

.task-card-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.task-card-container::-webkit-scrollbar-track {
  background: transparent;
}

.detail-content .priority,
.detail-content .status {
  font-size: 12px;
  line-height: 100%;
}
.detail-content .created {
  font-size: 10px;
  color: #a1a3ab;
}

/* Right Column */
.right-column {
  flex: 1;
  width: 511px;
  padding: 16px 22px;
  position: relative;
  max-height: 837px;
  overflow-y: auto;
}
.detail-content {
  width: 60%;
}
.task-detail-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
  overflow-y: auto;
}

.task-detail-header {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  width: 100%;
}

.detail-image {
  width: 158px;
  height: 158px;
  object-fit: cover;
  border-radius: 14px;
}

.detail-image img {
  width: 100%;
}
.task-detail-header .detail-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.task-description {
  margin-top: 19px;
  font-size: 16px;
  line-height: 180%;
  color: #747474;
}

.task-description ul {
  margin-top: 10px;
  padding-left: 20px;
}

.task-description ul li {
  margin-bottom: 6px;
}

.task-actions-group {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.task-action-icon {
  background: #ff6767;
  color: #fff;
  border-radius: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
